ukraine war articles since february 2022 - About 199,000,000 results
https://www.google.com/search?q=ukraine+war+articles+since+february+2022&ei=YKYOY-HCNrG30PEP1sKf6Aw&oq=ukraine+war+articles+since+feb&gs_lcp=Cgdnd3Mtd2l6EAEYADIFCCEQoAEyBQghEKABMgUIIRCgATIFCCEQqwI6BwgAEEcQsAM6CAghEB4QFhAdOgcIIRCgARAKSgQIQRgASgQIRhgAULoDWM8VYNgeaARwAXgAgAG_AYgBqQuSAQM0LjiYAQCgAQHIAQjAAQE&sclient=gws-wiz

In [1]:
# Make dataframe from CSV file

import pandas as pd

# read csv file
events = pd.read_csv("/Users/veronicalobkina/Desktop/Events Data - Sheet2.csv")

# display DataFrame
print(events)

           Date  Search Results    Weights
0    2022-02-24           356000  0.001789
1    2022-02-25           206000  0.001035
2    2022-02-26           106000  0.000533
3    2022-02-27           111000  0.000558
4    2022-02-28           142000  0.000714
..          ...              ...       ...
165  2022-08-08           362000  0.001819
166  2022-08-09           514000  0.002583
167  2022-08-10           580000  0.002915
168  2022-08-11           598000  0.003005
169  2022-08-12          1170000  0.005879

[170 rows x 3 columns]

In [3]:
events_df = pd.DataFrame(events)
events_df

           Date  Search Results    Weights
0    2022-02-24           356000  0.001789
1    2022-02-25           206000  0.001035
2    2022-02-26           106000  0.000533
3    2022-02-27           111000  0.000558
4    2022-02-28           142000  0.000714
..          ...              ...       ...
165  2022-08-08           362000  0.001819
166  2022-08-09           514000  0.002583
167  2022-08-10           580000  0.002915
168  2022-08-11           598000  0.003005
169  2022-08-12          1170000  0.005879

[170 rows x 3 columns]