In [35]:
import pandas as pd
import json
from pandas import json_normalize
data = '''
{
"properties": 
    [
    {"OBJECTID": 1},
    {"Date": "2022/08/04"},
    {"Oblast": "Mykolaivska"},
    {"Rayon": "Bashtanskyi"},
    {"Hromada": "Bashtanska"},
    {"City_Settl": "Yavkyne"},
    {"Location__": null},
    {"City_Set_1": "Явкіно"},
    {"City_Set_2": "Явкино"},
    {"GCA_NGCA__": "GCA"},
    {"Status": "Affected"},
    {"Encircled": null},
    {"Humanitari": "https://t.me/mykolaivskaODA/2012"},
    {"admin1Pcod": "UA48"},
    {"admin2Pcod": "UA4802"},
    {"admin3Pcod": "UA4802001"},
    {"admin4Pcod": "UA4802001025"},
    {"Lat__autom": 47.2774122},
    {"Long__auto": 32.5926428},
    {"Long2": 32.5926428},
    {"Lat2": 47.2774122},
    {"Name": "Yavkyne"}
    ],
"status": ["ok"]

}
'''
print(data)

{
"properties":
    [
    {"OBJECTID": 1},
    {"Date": "2022/08/04"},
    {"Oblast": "Mykolaivska"},
    {"Rayon": "Bashtanskyi"},
    {"Hromada": "Bashtanska"},
    {"City_Settl": "Yavkyne"},
    {"Location__": null},
    {"City_Set_1": "Явкіно"},
    {"City_Set_2": "Явкино"},
    {"GCA_NGCA__": "GCA"},
    {"Status": "Affected"},
    {"Encircled": null},
    {"Humanitari": "https://t.me/mykolaivskaODA/2012"},
    {"admin1Pcod": "UA48"},
    {"admin2Pcod": "UA4802"},
    {"admin3Pcod": "UA4802001"},
    {"admin4Pcod": "UA4802001025"},
    {"Lat__autom": 47.2774122},
    {"Long__auto": 32.5926428},
    {"Long2": 32.5926428},
    {"Lat2": 47.2774122},
    {"Name": "Yavkyne"}
    ],
"status": ["ok"]

}

In [36]:
# Use json_normalize() to convert JSON to DataFrame
dict = json.loads(data)
event_df = json_normalize(dict['properties']) 
print(event_df)

    OBJECTID        Date       Oblast        Rayon     Hromada City_Settl  \
0        1.0         NaN          NaN          NaN         NaN        NaN
1        NaN  2022/08/04          NaN          NaN         NaN        NaN
2        NaN         NaN  Mykolaivska          NaN         NaN        NaN
3        NaN         NaN          NaN  Bashtanskyi         NaN        NaN
4        NaN         NaN          NaN          NaN  Bashtanska        NaN
5        NaN         NaN          NaN          NaN         NaN    Yavkyne
6        NaN         NaN          NaN          NaN         NaN        NaN
7        NaN         NaN          NaN          NaN         NaN        NaN
8        NaN         NaN          NaN          NaN         NaN        NaN
9        NaN         NaN          NaN          NaN         NaN        NaN
10       NaN         NaN          NaN          NaN         NaN        NaN
11       NaN         NaN          NaN          NaN         NaN        NaN
12       NaN         NaN          NaN          NaN         NaN        NaN
13       NaN         NaN          NaN          NaN         NaN        NaN
14       NaN         NaN          NaN          NaN         NaN        NaN
15       NaN         NaN          NaN          NaN         NaN        NaN
16       NaN         NaN          NaN          NaN         NaN        NaN
17       NaN         NaN          NaN          NaN         NaN        NaN
18       NaN         NaN          NaN          NaN         NaN        NaN
19       NaN         NaN          NaN          NaN         NaN        NaN
20       NaN         NaN          NaN          NaN         NaN        NaN
21       NaN         NaN          NaN          NaN         NaN        NaN

    Location__ City_Set_1 City_Set_2 GCA_NGCA__  ...  \
0          NaN        NaN        NaN        NaN  ...
1          NaN        NaN        NaN        NaN  ...
2          NaN        NaN        NaN        NaN  ...
3          NaN        NaN        NaN        NaN  ...
4          NaN        NaN        NaN        NaN  ...
5          NaN        NaN        NaN        NaN  ...
6          NaN        NaN        NaN        NaN  ...
7          NaN     Явкіно        NaN        NaN  ...
8          NaN        NaN     Явкино        NaN  ...
9          NaN        NaN        NaN        GCA  ...
10         NaN        NaN        NaN        NaN  ...
11         NaN        NaN        NaN        NaN  ...
12         NaN        NaN        NaN        NaN  ...
13         NaN        NaN        NaN        NaN  ...
14         NaN        NaN        NaN        NaN  ...
15         NaN        NaN        NaN        NaN  ...
16         NaN        NaN        NaN        NaN  ...
17         NaN        NaN        NaN        NaN  ...
18         NaN        NaN        NaN        NaN  ...
19         NaN        NaN        NaN        NaN  ...
20         NaN        NaN        NaN        NaN  ...
21         NaN        NaN        NaN        NaN  ...

                          Humanitari  admin1Pcod admin2Pcod admin3Pcod  \
0                                NaN         NaN        NaN        NaN
1                                NaN         NaN        NaN        NaN
2                                NaN         NaN        NaN        NaN
3                                NaN         NaN        NaN        NaN
4                                NaN         NaN        NaN        NaN
5                                NaN         NaN        NaN        NaN
6                                NaN         NaN        NaN        NaN
7                                NaN         NaN        NaN        NaN
8                                NaN         NaN        NaN        NaN
9                                NaN         NaN        NaN        NaN
10                               NaN         NaN        NaN        NaN
11                               NaN         NaN        NaN        NaN
12  https://t.me/mykolaivskaODA/2012         NaN        NaN        NaN
13                               NaN        UA48        NaN        NaN
14                               NaN         NaN     UA4802        NaN
15                               NaN         NaN        NaN  UA4802001
16                               NaN         NaN        NaN        NaN
17                               NaN         NaN        NaN        NaN
18                               NaN         NaN        NaN        NaN
19                               NaN         NaN        NaN        NaN
20                               NaN         NaN        NaN        NaN
21                               NaN         NaN        NaN        NaN

      admin4Pcod Lat__autom Long__auto      Long2       Lat2     Name
0            NaN        NaN        NaN        NaN        NaN      NaN
1            NaN        NaN        NaN        NaN        NaN      NaN
2            NaN        NaN        NaN        NaN        NaN      NaN
3            NaN        NaN        NaN        NaN        NaN      NaN
4            NaN        NaN        NaN        NaN        NaN      NaN
5            NaN        NaN        NaN        NaN        NaN      NaN
6            NaN        NaN        NaN        NaN        NaN      NaN
7            NaN        NaN        NaN        NaN        NaN      NaN
8            NaN        NaN        NaN        NaN        NaN      NaN
9            NaN        NaN        NaN        NaN        NaN      NaN
10           NaN        NaN        NaN        NaN        NaN      NaN
11           NaN        NaN        NaN        NaN        NaN      NaN
12           NaN        NaN        NaN        NaN        NaN      NaN
13           NaN        NaN        NaN        NaN        NaN      NaN
14           NaN        NaN        NaN        NaN        NaN      NaN
15           NaN        NaN        NaN        NaN        NaN      NaN
16  UA4802001025        NaN        NaN        NaN        NaN      NaN
17           NaN  47.277412        NaN        NaN        NaN      NaN
18           NaN        NaN  32.592643        NaN        NaN      NaN
19           NaN        NaN        NaN  32.592643        NaN      NaN
20           NaN        NaN        NaN        NaN  47.277412      NaN
21           NaN        NaN        NaN        NaN        NaN  Yavkyne

[22 rows x 22 columns]

In [40]:
# Drop the rows where all elements are missing.
event_df.dropna(how='all')

,OBJECTID,Date,Oblast,Rayon,Hromada,City_Settl,Location__,City_Set_1,City_Set_2,GCA_NGCA__,...,Humanitari,admin1Pcod,admin2Pcod,admin3Pcod,admin4Pcod,Lat__autom,Long__auto,Long2,Lat2,Name
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2022/08/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Mykolaivska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Bashtanskyi,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Bashtanska,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,Yavkyne,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Явкіно,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Явкино,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GCA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,https://t.me/mykolaivskaODA/2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UA48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UA4802,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UA4802001,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,UA4802001025,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,47.277412,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,32.592643,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.592643,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.277412,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yavkyne

In [41]:
# Drop the columns where at least one element is missing.
event_df.dropna(axis='columns')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [43]:
# Keep only the rows with at least 2 non-NA values.
event_df.dropna(thresh=2)

Empty DataFrame
Columns: [OBJECTID, Date, Oblast, Rayon, Hromada, City_Settl, Location__, City_Set_1, City_Set_2, GCA_NGCA__, Status, Encircled, Humanitari, admin1Pcod, admin2Pcod, admin3Pcod, admin4Pcod, Lat__autom, Long__auto, Long2, Lat2, Name]
Index: []

[0 rows x 22 columns]

In [47]:
# Define in which columns to look for missing values.
event_df.dropna(subset=['OBJECTID', 'Date', 'Oblast', 'Rayon', 'Hromada', 'City_Settl', 'Location__', 'City_Set_1', 'City_Set_2', 'GCA_NGCA__', 'Humanitari', 'admin1Pcod', 'admin2Pcod','admin3Pcod','admin4Pcod','Lat__autom','Long__auto','Long2','Lat2','Name'])

Empty DataFrame
Columns: [OBJECTID, Date, Oblast, Rayon, Hromada, City_Settl, Location__, City_Set_1, City_Set_2, GCA_NGCA__, Status, Encircled, Humanitari, admin1Pcod, admin2Pcod, admin3Pcod, admin4Pcod, Lat__autom, Long__auto, Long2, Lat2, Name]
Index: []

[0 rows x 22 columns]

In [51]:
event_df.head()

,OBJECTID,Date,Oblast,Rayon,Hromada,City_Settl,Location__,City_Set_1,City_Set_2,GCA_NGCA__,...,Humanitari,admin1Pcod,admin2Pcod,admin3Pcod,admin4Pcod,Lat__autom,Long__auto,Long2,Lat2,Name
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2022/08/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Mykolaivska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Bashtanskyi,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Bashtanska,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
from pathlib import Path  
filepath = Path('/Users/veronicalobkina/Desktop/UA_War/event1.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
event_df.to_csv(filepath)